.event {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 20px;
    border-bottom: 1px solid #bbbdc750;
    font-size: 0.8rem;

    .description {
        text-decoration: none;
    }

    .icon {
        cursor: pointer;
        color: red;
    }
}